*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.header {
  height: 33px;
  background-color: aquamarine;
  text-align: center;
  margin: 0px;
}

.footer {
  height: 33px;
  background-color: aquamarine;
  text-align: center;
  margin: 0px;
}

.title {
  color: #271f30;
  height: 30px;
  text-align: center;
  margin-top: 10px;
}

strong {
  font-size: 30px;
}

#mainBox {
  color: #271f30;
  margin: 10px auto;
  margin-top: 10px;
  margin-bottom: 10px;

  border: 1px solid red;

  width: 80%;
  height: 80%;

  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  text-align: center;
}

.explain {
  background-color: #b6f9c9;
  border: 1px solid red;
  width: 70%;
  margin-top: 0px;

  /* 直排 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

article {
  padding: 20px;
}

article p {
  margin-top: 10px;
}

.calculator {
  /* margin-left: 10px; */

  background-color: #a2d6f9;
  border: 1px solid red;
  width: 30%;
  text-align: left;
  margin-top: 0px;

  display: flex;
  flex-direction: column;
}

form {
  padding: 15px;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  /* border: 1px solid red; */
}

form label,
div,
button {
  margin-top: 8px;
}

.result {
  /* border: 1px solid red; */
  padding: 1px 2px;
  margin: 3.5px;
  height: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  border: darkblue;
}

input,
#cal,
#activity {
  margin-top: 6px;
  background-color: whitesmoke;
  border-radius: 10px;
  border: darkblue;
}

#cal {
  margin-top: 15px;
  margin-bottom: 15px;
}
